@model InternetForum.Models.PostViewModel


@using ReflectionIT.Mvc.Paging;

@addTagHelper *, ReflectionIt.Mvc.Paging

@{
	ViewData["Title"] = Model.Title;
}


<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="card postDetailContainer">
			<div class="card-body">
				<div class="postContentContainer">
					<h6>
						<a asp-action="Index" asp-controller="Home" asp-route-forumThreadId="@Model.ForumThreadLink.Id">@Model.ForumThreadLink.Text</a>
						<small>
							• Nahráno @Model.CreatedAt uživatelem @Model.AuthorLink.Text
						</small>
					</h6>

					<h4>@Model.Title</h4>

					<p>
						@Model.Body
					</p>
				</div>


				<form asp-action="Add" asp-controller="Comment" method="post" class="form-horizontal commentForm" role="form">
					<input type="hidden" name="PostId" value="@Model.Id">

					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<textarea class="form-control" name="body" rows="3" placeholder="Sdílejte váš názor..."></textarea>
							</div>
						</div>
						<div class="card-footer text-muted">
							<div class="form-group">
								<button class="btn btn-secondary btn-circle btn-sm commentButton pull-right" type="submit">
									<span class="glyphicon glyphicon-send">
										Odeslat
									</span>
								</button>
							</div>
						</div>
					</div>
				</form>

				@if (Model.Comments.Any())
				{
					<br />

					<h6>Komentáře: </h6>

					<div>
						@foreach (var comment in Model.Comments)
						{
							Html.RenderPartial("~/Views/Comment/_CommentPartial.cshtml", comment);
						}
					</div>
				}

				<nav>
					@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.Comments, @class = "" })
				</nav>
			</div>
		</div>
	</div>
	<div class="col-sm-1">
		@*<div class="container forumThreadBasicInfoPanel">
				@{
					Html.RenderPartial(
						"~/Views/ForumThread/_InfoPanel.cshtml",
						new ForumThreadInfoPanelViewModel(
							Model.ForumThread.Id,
							Model.ForumThread.Name,
							Model.ForumThread.Description,
							ViewBag.ShowSubscribeButton,
							Model.ForumThread.SubscribersCount
						)
					);
				}
			</div>*@
	</div>
</div>